@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.logo-title:hover{
    color: #edf0f1;
}

.logo-title{
    font-family: 'Montserrat', sans-serif;
    color: #edf0f1;
    cursor: pointer;
    font-size: 35px;
    font-weight: bolder;
    text-decoration: none;
}

.span-title{
    color: #0084ff;
}

.nav-link{
    color: #edf0f1;
    text-decoration: none;
}

li, button{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

body{
    background-image: linear-gradient(to right top, #101011, #181818, #1f1f1f, #262626, #2d2d2d);    height: 100%;
}

header{
    background-color: #24252A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 23px 10%;
    overflow: hidden;
    position: relative;
    top: 0;
}

.hero-image{
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.1)), url(img/banner-bg.jpg);
    width: 100%;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}   

.hero-text {
    font-family: 'Montserrat', sans-serif;
    color: #edf0f1;
    text-align: center;
    padding-top: 10%;
    width: 60%;
    font-size: 60px;
    font-weight: bolder;
}

.btn-contact{
    padding: 10px 30px;
    background-color: #2192FF;
    border: none;
    border-radius: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-top: 10px;
    float: left;
    margin-left: 15%;
    width: 30vw;
}

.btn-contact:hover{
    background-color: #3d56c7;
}

.hero-p{
    font-family: 'Montserrat', sans-serif;
    color: #24262b;
    text-align: center;
    margin-left: 13.2%;
    width: 33vw;
}

.logo{
    cursor: pointer;
}

.nav__links{
    list-style: none;
}

/* display: inline-block; deixar um item do lado do outro */
.nav__links li{
    display: inline-block;
    padding: 0px  20px;
}

.nav__links li a{
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover{
    color: #647DEE;
}

button{
    padding: 9px 25px;
    background-color: #647DEE;
    border: none;
    border-radius: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: #3d56c7;
}

/* - Footer - */

.container{
    max-width: 1170px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

ul{
    list-style: none;
}

.products-title{
    text-align: center;
    color: #fff;
    font-size: 40px;
    margin: 70px;
}

.products{
    justify-content: space-between;
    margin: 45px;
    display: flex;
}

.bottom-text{
    padding-bottom: 10px;
}

.card-title{
    color: #0084ff;
    font-size: 30px;
    font-weight: bolder;
}

.actions{
    background: #0084ff;
    border-radius: 15px;
    padding: 10px 30px;
}

.card{
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 2px 15px #17181a1f;
}

.card-background{
    background: url(img/Vassoura-Bella.png) center/cover;
    height: 130px;
    width: 100%;
}

.top-card{
    padding: 20px;
}

.bottom-card{
    padding: 20px;
}

/* Footer */

.footer{
    font-family: 'Montserrat', sans-serif;
    background-color: #17181a;
    padding: 70px 0;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    color: #bbb;
    display: block;
    transition: all 0.3s ease
}

.footer-col ul li a:hover{
    color: #fff;
    padding-left: 8px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    transition: all 0.3s ease;
}

.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #fff;
}

/* Responsive */

@media(max-width: 767px){
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px){
    .footer-col {
        width: 100%;
    }
}
